**PW Skills Assignment- Introduction to SQL And Advanced Functions**

**Name- Ekta Patel**

**Course: Data science with Generative AI**

**Submitted to: PW Skills**

**Date:29/10/2025**

**Q1:** **Explain the fundamental differences between DDL, DML, and DQL
commands in SQL. Provide one example for each type of command.**

**Ans:**

* DDL (Data Definition Language): Used t0 define or modify database structure.
Example: CREATE TABLE Students(ID INT,Name VARCHAR(50)).

* DML (Data Manipulation Language): Used to insert,update,or delete data.
Example : INSERT INTO Students VALUES (1,'Ekta');
* DQL(Data Query Language): Used to fetch data from the database.
Example:SELECT*FROM Students;

**Q2: What is the purpose of SQL constraints? Name and describe three common types
of constraints, providing a simple scenario where each would be useful.**  

**Ans:** Purpose:SQL constraint are rules applied on columns to maintain data accuracy and integrity.

Types:

1.  PRIMARY KEY - Ensure each record is unique.

Example: ID in a student table must be unique.

 2.  NOT NULL - Ensure a column cannot have NULL value.

 Example: Name of a student cannot be empty.

1.  FOREIGN KEY - Ensure relationship between two tables.

Example: CourseID in the students table refers to CourseID in the Courses table,showing which cousre each student has joined.

**Q3: Explain the difference between LIMIT and OFFSET clauses in SQL. How
would you use them together to retrieve the third page of results, assuming each page
has 10 records?**

**Ans:**

* LIMIT specifies how many rows to return.
* OFFSET specifies from which row to start.

  To get the 3rd page (records 21-30):

**Q4: What is a Common Table Expression (CTE) in SQL, and what are its main
benefits? Provide a simple SQL example demonstrating its usage.**

**Ans:* A CTE (Common Table Expression) is a temporary result set that can be referenced within a SELECT,INSERT,UPDATE,orDELETE statement.

Benefits:

* Improves readability
* Makes complex queries easier to manage

Example:

In [12]:
import sqlite3

# Connect to existing database (your ECommerceDB)
conn = sqlite3.connect("ECommerceDB.db")
cursor = conn.cursor()

# Create a sample Orders table if not already there
cursor.executescript("""
DROP TABLE IF EXISTS Orders;
CREATE TABLE Orders(
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    TotalAmount REAL
);

INSERT INTO Orders VALUES
(1001, 1, 1245.50),
(1002, 2, 99.99),
(1003, 1, 145.00),
(1004, 3, 150.00),
(1005, 4, 120.00),
(1006, 1, 20.00);
""")

# ✅ Run CTE query
query = """
WITH TotalOrders AS (
    SELECT
        CustomerID,
        SUM(TotalAmount) AS TotalSpent
    FROM Orders
    GROUP BY CustomerID
)
SELECT
    CustomerID,
    TotalSpent
FROM TotalOrders
WHERE TotalSpent > 500;
"""

print("Customers whose total order amount > 500:")
for row in cursor.execute(query):
    print(row)

conn.close()

Customers whose total order amount > 500:
(1, 1410.5)

**Q5: Describe the concept of SQL Normalization and its primary goals. Briefly
explain the first three normal forms (1NF, 2NF, 3NF).**

**Ans:** Normalization: Process of organizing data to reduce redundancy and improve data integrity.

Goals:
*  Remove duplicate data
*  Ensure data consistency

Normal Forms:

1. 1NF:Each cell holds only one value.
2. 2NF:No partial dependency(every non-key column depends on the full primary key).

1. 3NF:No transitive dependency (non-key columns depends only on the key).

**Question 6 :  Create a database named ECommerceDB and perform the following
tasks:**

In [11]:
import sqlite3

# Database connection
conn = sqlite3.connect("ECommerceDB.db")
cursor = conn.cursor()

# Create tables
cursor.executescript("""
DROP TABLE IF EXISTS Orders;
DROP TABLE IF EXISTS Products;
DROP TABLE IF EXISTS Customers;
DROP TABLE IF EXISTS Categories;

CREATE TABLE Categories(
    CategoryID INTEGER PRIMARY KEY,
    CategoryName TEXT NOT NULL UNIQUE
);

CREATE TABLE Products(
    ProductID INTEGER PRIMARY KEY,
    ProductName TEXT NOT NULL UNIQUE,
    CategoryID INTEGER,
    Price REAL NOT NULL,
    StockQuantity INTEGER,
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);

CREATE TABLE Customers(
    CustomerID INTEGER PRIMARY KEY,
    CustomerName TEXT NOT NULL,
    Email TEXT UNIQUE,
    JoinDate TEXT
);

CREATE TABLE Orders(
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    OrderDate TEXT NOT NULL,
    TotalAmount REAL,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

-- Insert data

INSERT INTO Categories VALUES
(1, 'Electronics'),
(2, 'Books'),
(3, 'Home Goods'),
(4, 'Apparel');

INSERT INTO Products VALUES
(101, 'Laptop Pro', 1, 1200.00, 50),
(102, 'SQL Handbook', 2, 45.50, 200),
(103, 'Smart Speaker', 1, 99.99, 150),
(104, 'Coffee Maker', 3, 75.00, 80),
(105, 'Novel : The Great SQL', 2, 25.00, 120),
(106, 'Wireless Earbuds', 1, 150.00, 100),
(107, 'Blender X', 3, 120.00, 60),
(108, 'T-Shirt Casual', 4, 20.00, 300);

INSERT INTO Customers VALUES
(1, 'Alice Wonderland', 'alice@example.com', '2023-01-10'),
(2, 'Bob the Builder', 'bob@example.com', '2022-11-25'),
(3, 'Charlie Chaplin', 'charlie@example.com', '2023-03-01'),
(4, 'Diana Prince', 'diana@example.com', '2021-04-26');

INSERT INTO Orders VALUES
(1001, 1, '2023-04-26', 1245.50),
(1002, 2, '2023-10-12', 99.99),
(1003, 1, '2023-07-01', 145.00),
(1004, 3, '2023-01-14', 150.00),
(1005, 4, '2023-09-24', 120.00),
(1006, 1, '2023-06-19', 20.00);
""")

conn.commit()

# Verify tables
for table in ["Categories", "Products", "Customers", "Orders"]:
    print(f"\n{table} Data:")
    for row in cursor.execute(f"SELECT * FROM {table}"):
        print(row)

conn.close()

Categories Data:
(1, 'Electronics')
(2, 'Books')
(3, 'Home Goods')
(4, 'Apparel')

Products Data:
(101, 'Laptop Pro', 1, 1200.0, 50)
(102, 'SQL Handbook', 2, 45.5, 200)
(103, 'Smart Speaker', 1, 99.99, 150)
(104, 'Coffee Maker', 3, 75.0, 80)
(105, 'Novel : The Great SQL', 2, 25.0, 120)
(106, 'Wireless Earbuds', 1, 150.0, 100)
(107, 'Blender X', 3, 120.0, 60)
(108, 'T-Shirt Casual', 4, 20.0, 300)

Customers Data:
(1, 'Alice Wonderland', 'alice@example.com', '2023-01-10')
(2, 'Bob the Builder', 'bob@example.com', '2022-11-25')
(3, 'Charlie Chaplin', 'charlie@example.com', '2023-03-01')
(4, 'Diana Prince', 'diana@example.com', '2021-04-26')

Orders Data:
(1001, 1, '2023-04-26', 1245.5)
(1002, 2, '2023-10-12', 99.99)
(1003, 1, '2023-07-01', 145.0)
(1004, 3, '2023-01-14', 150.0)
(1005, 4, '2023-09-24', 120.0)
(1006, 1, '2023-06-19', 20.0)

**Q7 : Generate a report showing CustomerName, Email, and the
TotalNumberofOrders for each customer. Include customers who have not placed
any orders, in which case their TotalNumberofOrders should be 0. Order the results
by CustomerName.**

**Ans:**

In [6]:
import sqlite3
import pandas as pd

# 1️⃣ Database & Cursor setup
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# 2️⃣ Create Tables
cur.execute('''
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    email TEXT
)
''')

cur.execute('''
CREATE TABLE payment (
    payment_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    amount REAL,
    payment_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
)
''')

cur.execute('''
CREATE TABLE category (
    category_id INTEGER PRIMARY KEY,
    name TEXT
)
''')

cur.execute('''
CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT,
    category_id INTEGER,
    rental_rate REAL,
    FOREIGN KEY (category_id) REFERENCES category(category_id)
)
''')

cur.execute('''
CREATE TABLE inventory (
    inventory_id INTEGER PRIMARY KEY,
    film_id INTEGER,
    store_id INTEGER,
    FOREIGN KEY (film_id) REFERENCES film(film_id)
)
''')

cur.execute('''
CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    inventory_id INTEGER,
    rental_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
    FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id)
)
''')

conn.commit()

# 3️⃣ Insert Sample Data
cur.executemany('INSERT INTO customer VALUES (?,?,?,?)', [
    (1,'Ekta','Patel','ekta@example.com'),
    (2,'Rahul','Singh','rahul@example.com'),
    (3,'Priya','Sharma','priya@example.com')
])

cur.executemany('INSERT INTO payment VALUES (?,?,?,?)', [
    (1,1,150.0,'2025-08-01'),
    (2,1,200.0,'2025-09-05'),
    (3,2,300.0,'2025-08-12')
])

cur.executemany('INSERT INTO category VALUES (?,?)', [
    (1,'Action'),
    (2,'Comedy')
])

cur.executemany('INSERT INTO film VALUES (?,?,?,?)', [
    (1,'Movie A',1,2.99),
    (2,'Movie B',1,4.99),
    (3,'Movie C',2,3.99),
    (4,'Movie D',2,5.49)
])

cur.executemany('INSERT INTO inventory VALUES (?,?,?)', [
    (1,1,1),
    (2,2,1),
    (3,3,2),
    (4,4,2)
])

cur.executemany('INSERT INTO rental VALUES (?,?,?,?)', [
    (1,1,1,'2025-08-01'),
    (2,1,2,'2025-08-02'),
    (3,2,3,'2025-09-05'),
    (4,3,4,'2025-09-10')
])

conn.commit()

# 🧾 ------------- Q7 -------------
print("Q7: CustomerName, Email, TotalNumberOfOrders\n")
query7 = '''
SELECT
    c.first_name || ' ' || c.last_name AS CustomerName,
    c.email,
    COUNT(p.payment_id) AS TotalOrders
FROM customer c
LEFT JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY CustomerName;
'''
display(pd.read_sql_query(query7, conn))

import sqlite3
import pandas as pd

# 1️⃣ Database & Cursor setup
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# 2️⃣ Create Tables
cur.execute('''
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    email TEXT
)
''')

cur.execute('''
CREATE TABLE payment (
    payment_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    amount REAL,
    payment_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
)
''')

cur.execute('''
CREATE TABLE category (
    category_id INTEGER PRIMARY KEY,
    name TEXT
)
''')

cur.execute('''
CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT,
    category_id INTEGER,
    rental_rate REAL,
    FOREIGN KEY (category_id) REFERENCES category(category_id)
)
''')

cur.execute('''
CREATE TABLE inventory (
    inventory_id INTEGER PRIMARY KEY,
    film_id INTEGER,
    store_id INTEGER,
    FOREIGN KEY (film_id) REFERENCES film(film_id)
)
''')

cur.execute('''
CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    inventory_id INTEGER,
    rental_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
    FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id)
)
''')

conn.commit()

# 3️⃣ Insert Sample Data
cur.executemany('INSERT INTO customer VALUES (?,?,?,?)', [
    (1,'Ekta','Patel','ekta@example.com'),
    (2,'Rahul','Singh','rahul@example.com'),
    (3,'Priya','Sharma','priya@example.com')
])

cur.executemany('INSERT INTO payment VALUES (?,?,?,?)', [
    (1,1,150.0,'2025-08-01'),
    (2,1,200.0,'2025-09-05'),
    (3,2,300.0,'2025-08-12')
])

cur.executemany('INSERT INTO category VALUES (?,?)', [
    (1,'Action'),
    (2,'Comedy')
])

cur.executemany('INSERT INTO film VALUES (?,?,?,?)', [
    (1,'Movie A',1,2.99),
    (2,'Movie B',1,4.99),
    (3,'Movie C',2,3.99),
    (4,'Movie D',2,5.49)
])

cur.executemany('INSERT INTO inventory VALUES (?,?,?)', [
    (1,1,1),
    (2,2,1),
    (3,3,2),
    (4,4,2)
])

cur.executemany('INSERT INTO rental VALUES (?,?,?,?)', [
    (1,1,1,'2025-08-01'),
    (2,1,2,'2025-08-02'),
    (3,2,3,'2025-09-05'),
    (4,3,4,'2025-09-10')
])

conn.commit()

# 🧾 ------------- Q7 -------------
print("Q7: CustomerName, Email, TotalNumberOfOrders\n")
query7 = '''
SELECT
    c.first_name || ' ' || c.last_name AS CustomerName,
    c.email,
    COUNT(p.payment_id) AS TotalOrders
FROM customer c
LEFT JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY CustomerName;
'''
display(pd.read_sql_query(query7, conn))

import sqlite3
import pandas as pd

# 1️⃣ Database & Cursor setup
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# 2️⃣ Create Tables
cur.execute('''
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    email TEXT
)
''')

cur.execute('''
CREATE TABLE payment (
    payment_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    amount REAL,
    payment_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
)
''')

cur.execute('''
CREATE TABLE category (
    category_id INTEGER PRIMARY KEY,
    name TEXT
)
''')

cur.execute('''
CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT,
    category_id INTEGER,
    rental_rate REAL,
    FOREIGN KEY (category_id) REFERENCES category(category_id)
)
''')

cur.execute('''
CREATE TABLE inventory (
    inventory_id INTEGER PRIMARY KEY,
    film_id INTEGER,
    store_id INTEGER,
    FOREIGN KEY (film_id) REFERENCES film(film_id)
)
''')

cur.execute('''
CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    inventory_id INTEGER,
    rental_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
    FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id)
)
''')

conn.commit()

# 3️⃣ Insert Sample Data
cur.executemany('INSERT INTO customer VALUES (?,?,?,?)', [
    (1,'Ekta','Patel','ekta@example.com'),
    (2,'Rahul','Singh','rahul@example.com'),
    (3,'Priya','Sharma','priya@example.com')
])

cur.executemany('INSERT INTO payment VALUES (?,?,?,?)', [
    (1,1,150.0,'2025-08-01'),
    (2,1,200.0,'2025-09-05'),
    (3,2,300.0,'2025-08-12')
])

cur.executemany('INSERT INTO category VALUES (?,?)', [
    (1,'Action'),
    (2,'Comedy')
])

cur.executemany('INSERT INTO film VALUES (?,?,?,?)', [
    (1,'Movie A',1,2.99),
    (2,'Movie B',1,4.99),
    (3,'Movie C',2,3.99),
    (4,'Movie D',2,5.49)
])

cur.executemany('INSERT INTO inventory VALUES (?,?,?)', [
    (1,1,1),
    (2,2,1),
    (3,3,2),
    (4,4,2)
])

cur.executemany('INSERT INTO rental VALUES (?,?,?,?)', [
    (1,1,1,'2025-08-01'),
    (2,1,2,'2025-08-02'),
    (3,2,3,'2025-09-05'),
    (4,3,4,'2025-09-10')
])

conn.commit()

Q7: CustomerName, Email, TotalNumberOfOrders

   CustomerName              email  TotalOrders
0    Ekta Patel   ekta@example.com            2
1  Priya Sharma  priya@example.com            0
2   Rahul Singh  rahul@example.com            1

Q7: CustomerName, Email, TotalNumberOfOrders

   CustomerName              email  TotalOrders
0    Ekta Patel   ekta@example.com            2
1  Priya Sharma  priya@example.com            0
2   Rahul Singh  rahul@example.com            1

**Q8:Retrieve Product Information with Category: Write a SQL query to
display the ProductName, Price, StockQuantity, and CategoryName for all
products. Order the results by CategoryName and then ProductName alphabetically.**

In [13]:
import sqlite3
import pandas as pd

# 1️⃣ Database & Cursor setup
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# 2️⃣ Create Tables
cur.execute('''
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    email TEXT
)
''')

cur.execute('''
CREATE TABLE payment (
    payment_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    amount REAL,
    payment_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
)
''')

cur.execute('''
CREATE TABLE category (
    category_id INTEGER PRIMARY KEY,
    name TEXT
)
''')

cur.execute('''
CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT,
    category_id INTEGER,
    rental_rate REAL,
    FOREIGN KEY (category_id) REFERENCES category(category_id)
)
''')

cur.execute('''
CREATE TABLE inventory (
    inventory_id INTEGER PRIMARY KEY,
    film_id INTEGER,
    store_id INTEGER,
    FOREIGN KEY (film_id) REFERENCES film(film_id)
)
''')

cur.execute('''
CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    inventory_id INTEGER,
    rental_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
    FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id)
)
''')

conn.commit()

# 3️⃣ Insert Sample Data
cur.executemany('INSERT INTO customer VALUES (?,?,?,?)', [
    (1,'Ekta','Patel','ekta@example.com'),
    (2,'Rahul','Singh','rahul@example.com'),
    (3,'Priya','Sharma','priya@example.com')
])

cur.executemany('INSERT INTO payment VALUES (?,?,?,?)', [
    (1,1,150.0,'2025-08-01'),
    (2,1,200.0,'2025-09-05'),
    (3,2,300.0,'2025-08-12')
])

cur.executemany('INSERT INTO category VALUES (?,?)', [
    (1,'Action'),
    (2,'Comedy')
])

cur.executemany('INSERT INTO film VALUES (?,?,?,?)', [
    (1,'Movie A',1,2.99),
    (2,'Movie B',1,4.99),
    (3,'Movie C',2,3.99),
    (4,'Movie D',2,5.49)
])

cur.executemany('INSERT INTO inventory VALUES (?,?,?)', [
    (1,1,1),
    (2,2,1),
    (3,3,2),
    (4,4,2)
])

cur.executemany('INSERT INTO rental VALUES (?,?,?,?)', [
    (1,1,1,'2025-08-01'),
    (2,1,2,'2025-08-02'),
    (3,2,3,'2025-09-05'),
    (4,3,4,'2025-09-10')
])

conn.commit()

# 🧾 ------------- Q8 -------------
print("\nQ8: CategoryName, ProductName, Price\n")
query8 = '''
SELECT
    c.name AS CategoryName,
    f.title AS ProductName,
    f.rental_rate AS Price
FROM film f
JOIN category c ON f.category_id = c.category_id
ORDER BY CategoryName, ProductName;
'''
display(pd.read_sql_query(query8, conn))

Q8: CategoryName, ProductName, Price

  CategoryName ProductName  Price
0       Action     Movie A   2.99
1       Action     Movie B   4.99
2       Comedy     Movie C   3.99
3       Comedy     Movie D   5.49

**Q9: Write a SQL query that uses a Common Table Expression (CTE) and a
Window Function (specifically ROW_NUMBER() or RANK()) to display the
CategoryName, ProductName, and Price for the top 2 most expensive products in
each CategoryName.**

In [8]:
import sqlite3
import pandas as pd

# 1️⃣ Database & Cursor setup
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# 2️⃣ Create Tables
cur.execute('''
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    email TEXT
)
''')

cur.execute('''
CREATE TABLE payment (
    payment_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    amount REAL,
    payment_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
)
''')

cur.execute('''
CREATE TABLE category (
    category_id INTEGER PRIMARY KEY,
    name TEXT
)
''')

cur.execute('''
CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT,
    category_id INTEGER,
    rental_rate REAL,
    FOREIGN KEY (category_id) REFERENCES category(category_id)
)
''')

cur.execute('''
CREATE TABLE inventory (
    inventory_id INTEGER PRIMARY KEY,
    film_id INTEGER,
    store_id INTEGER,
    FOREIGN KEY (film_id) REFERENCES film(film_id)
)
''')

cur.execute('''
CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    inventory_id INTEGER,
    rental_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
    FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id)
)
''')

conn.commit()

# 3️⃣ Insert Sample Data
cur.executemany('INSERT INTO customer VALUES (?,?,?,?)', [
    (1,'Ekta','Patel','ekta@example.com'),
    (2,'Rahul','Singh','rahul@example.com'),
    (3,'Priya','Sharma','priya@example.com')
])

cur.executemany('INSERT INTO payment VALUES (?,?,?,?)', [
    (1,1,150.0,'2025-08-01'),
    (2,1,200.0,'2025-09-05'),
    (3,2,300.0,'2025-08-12')
])

cur.executemany('INSERT INTO category VALUES (?,?)', [
    (1,'Action'),
    (2,'Comedy')
])

cur.executemany('INSERT INTO film VALUES (?,?,?,?)', [
    (1,'Movie A',1,2.99),
    (2,'Movie B',1,4.99),
    (3,'Movie C',2,3.99),
    (4,'Movie D',2,5.49)
])

cur.executemany('INSERT INTO inventory VALUES (?,?,?)', [
    (1,1,1),
    (2,2,1),
    (3,3,2),
    (4,4,2)
])

cur.executemany('INSERT INTO rental VALUES (?,?,?,?)', [
    (1,1,1,'2025-08-01'),
    (2,1,2,'2025-08-02'),
    (3,2,3,'2025-09-05'),
    (4,3,4,'2025-09-10')
])

conn.commit()

# 🧾 ------------- Q9 -------------
print("\nQ9: Top 2 Most Expensive Films per Category (CTE + Window Function)\n")
query9 = '''
WITH RankedFilms AS (
    SELECT
        c.name AS CategoryName,
        f.title AS ProductName,
        f.rental_rate AS Price,
        ROW_NUMBER() OVER (PARTITION BY c.name ORDER BY f.rental_rate DESC) AS rnk
    FROM film f
    JOIN category c ON f.category_id = c.category_id
)
SELECT CategoryName, ProductName, Price
FROM RankedFilms
WHERE rnk <= 2
ORDER BY CategoryName, Price DESC;
'''
display(pd.read_sql_query(query9, conn))

Q9: Top 2 Most Expensive Films per Category (CTE + Window Function)

  CategoryName ProductName  Price
0       Action     Movie B   4.99
1       Action     Movie A   2.99
2       Comedy     Movie D   5.49
3       Comedy     Movie C   3.99

**Q10 : You are hired as a data analyst by Sakila Video Rentals, a global movie
rental company. The management team is looking to improve decision-making by
analyzing existing customer, rental, and inventory data.
Using the Sakila database, answer the following business questions to support key strategic
initiatives.**
Tasks & Questions:
1. Identify the top 5 customers based on the total amount they’ve spent. Include customer
name, email, and total amount spent.
2. Which 3 movie categories have the highest rental counts? Display the category name
and number of times movies from that category were rented.
3. Calculate how many films are available at each store and how many of those have
never been rented.
4. Show the total revenue per month for the year 2023 to analyze business seasonality.
5. Identify customers who have rented more than 10 times in the last 6 months.

In [9]:
import sqlite3
import pandas as pd

# 1️⃣ Database & Cursor setup
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# 2️⃣ Create Tables
cur.execute('''
CREATE TABLE customer (
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    email TEXT
)
''')

cur.execute('''
CREATE TABLE payment (
    payment_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    amount REAL,
    payment_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
)
''')

cur.execute('''
CREATE TABLE category (
    category_id INTEGER PRIMARY KEY,
    name TEXT
)
''')

cur.execute('''
CREATE TABLE film (
    film_id INTEGER PRIMARY KEY,
    title TEXT,
    category_id INTEGER,
    rental_rate REAL,
    FOREIGN KEY (category_id) REFERENCES category(category_id)
)
''')

cur.execute('''
CREATE TABLE inventory (
    inventory_id INTEGER PRIMARY KEY,
    film_id INTEGER,
    store_id INTEGER,
    FOREIGN KEY (film_id) REFERENCES film(film_id)
)
''')

cur.execute('''
CREATE TABLE rental (
    rental_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    inventory_id INTEGER,
    rental_date TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id),
    FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id)
)
''')

conn.commit()

# 3️⃣ Insert Sample Data
cur.executemany('INSERT INTO customer VALUES (?,?,?,?)', [
    (1,'Ekta','Patel','ekta@example.com'),
    (2,'Rahul','Singh','rahul@example.com'),
    (3,'Priya','Sharma','priya@example.com')
])

cur.executemany('INSERT INTO payment VALUES (?,?,?,?)', [
    (1,1,150.0,'2025-08-01'),
    (2,1,200.0,'2025-09-05'),
    (3,2,300.0,'2025-08-12')
])

cur.executemany('INSERT INTO category VALUES (?,?)', [
    (1,'Action'),
    (2,'Comedy')
])

cur.executemany('INSERT INTO film VALUES (?,?,?,?)', [
    (1,'Movie A',1,2.99),
    (2,'Movie B',1,4.99),
    (3,'Movie C',2,3.99),
    (4,'Movie D',2,5.49)
])

cur.executemany('INSERT INTO inventory VALUES (?,?,?)', [
    (1,1,1),
    (2,2,1),
    (3,3,2),
    (4,4,2)
])

cur.executemany('INSERT INTO rental VALUES (?,?,?,?)', [
    (1,1,1,'2025-08-01'),
    (2,1,2,'2025-08-02'),
    (3,2,3,'2025-09-05'),
    (4,3,4,'2025-09-10')
])

conn.commit()

# 🧾 ------------- Q10 (a) Top 5 customers by spending -------------
print("\nQ10(a): Top 5 Customers by Total Spent\n")
query10a = '''
SELECT
    c.first_name || ' ' || c.last_name AS CustomerName,
    SUM(p.amount) AS TotalSpent
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY TotalSpent DESC
LIMIT 5;
'''
display(pd.read_sql_query(query10a, conn))

# 🧾 ------------- Q10 (b) Top 3 categories by rental count -------------
print("\nQ10(b): Top 3 Categories by Rental Count\n")
query10b = '''
SELECT
    c.name AS CategoryName,
    COUNT(r.rental_id) AS RentalCount
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN category c ON f.category_id = c.category_id
GROUP BY c.name
ORDER BY RentalCount DESC
LIMIT 3;
'''
display(pd.read_sql_query(query10b, conn))

Q10(a): Top 5 Customers by Total Spent

  CustomerName  TotalSpent
0   Ekta Patel       350.0
1  Rahul Singh       300.0

Q10(b): Top 3 Categories by Rental Count

  CategoryName  RentalCount
0       Comedy            2
1       Action            2